<div id="reviews-container">
  <h5>Your reviews:
    <button id="add-review-button" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
  </h5>
  <%= movie.Reviews %>
</div> <!-- end reviews container -->
