<nav>
  <ul class="nav nav-tabs">
    <li><a href="/movies/new"> <img class="nav-home-link"   src="http://image.flaticon.com/icons/png/128/54/54335.png"/></a></li>
    <li><a class="nav-main-link" href="/movies/alphabetical_columns">Alphabetical</a></li>
    <li><a class="nav-main-link" href="/movies/chronological_columns">Chronological</a></li>
    <li><a class="nav-main-link" href="/movies/recent">Recent</a></li>
    <li><a class="nav-grey-link" href="/movies/alphabetical">A-Z</a></li>
    <li><a class="nav-grey-link" href="/movies/release_date">1-9</a></li>
    <li><a class="nav-new-link" href="/movies/new">NEW</a></li>
    <li><a class="bright-blue" href="/imports/new">Import</a></li>
    <li><a class="nav-grey-link" href="/logout">Logout</a></li>
  </ul>
</nav>
