<nav>
  <ul class="nav nav-tabs">
    <li><a href="/movies/alphabetical_columns">Alphabetical-Columns</a></li>
    <li><a href="/movies/chronological_columns">Chronological-Columns</a></li>
    <li><a href="/movies/alphabetical">Alphabetical-List</a></li>
    <li><a href="/movies/release_date">Chronological-List</a></li>
    <li><a href="/movies/new">NEW</a></li>
    <li><a class="logout" href="/logout">Logout</a></li>
  </ul>
</nav>
