body {
  background-color: #fdfdfd;
}

.hit-button {
  display: inline-block;
  height: 60px; width: 160px;
  background-color: #5bc0de;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 10px;
}

.poster-img {
  display: inline-block;
  border-radius: 20px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
