<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalog App</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <!-- include ejs template for nav nav bar-->
      <%- include ../partials/navigation.ejs %>

      <h1>MOVIES - Recent</h1>
      <% movies.forEach(function(movie) { %>
        <h3><%=movie.dateString %> <small>you watched</small>
          <a href="/movies/<%= movie.id %>"><%= movie.Title %></a>
          <% for (var i=0; i < movie.Rating; i++)  { %>
            <span>&#x2B50;</span>
          <% } %>
        </h3>
      <% }) %>
    </div>
  </body>
</html>
