<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>
    <div>
      <input id="input-box" type="text" placeholder="NEW MOVIE"/>
      <button id="input-submit">GET MOVIE</button>
    </div>
  </body>
</html>
