<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalog App</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- PROJECT JS -->
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>
    <div class="container">

      <!-- include ejs template for nav bar-->
      <%- include ../partials/navigation.ejs %>
      <div class="text-center">
        <img src="http://image.flaticon.com/icons/png/128/54/54335.png"/>
      </div>

      <div class="movie-number-message text-center">
        <p>Hi <%=user.name %>! You've watched at least <%= user.movies.length %> movies in your life! <small><a href="/movies/alphabetical_columns">See them.</a><small></p>             
      </div>

      <div>
        <h1 class="text-center">So you watched a movie?</h1>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
              <input id="input-box" type="text" class="form-control" placeholder="movie title . . .">
              <span class="input-group-btn">
                <button id="input-submit" class="btn btn-danger" type="button">FIND MOVIE</button>
              </span>
            </div> <!-- end input group -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div>

      <div class="row" id="result-container">
      </div>


    </div> <!-- end container -->
  </body>
</html>
