<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Catalog App</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PROJECT CSS    -->
    <link rel="stylesheet" href="/css/style.css">
  <body>

    <header class="text-center">
      <div>
        <img src="/images/camera-icon.png"/>
      </div>
      <h1>MOVIE CATALOG</h1>
    </header>

    <div class="container">
        <form class="form-horizontal form-bg" role="form" action="/users/login" method="POST">
            <h3 class="text-center">LOG IN</h3>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" name="name" placeholder="Username" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
      <form class="form-horizontal form-bg" role="form">
      <% if (userTaken) { %>
        <div class="col-sm-10 col-sm-offset-1 text-center register-warning">
          <h4>Username already taken! Try again</h4>
        </div>
      <% } %>
      <% if (wrongPass) { %>
        <div class="col-sm-10 col-sm-offset-1 text-center register-warning">
          <h4>Wrong password</h4>
        </div>
      <% } %>
      <% if (wrongUser) { %>
        <div class="col-sm-10 col-sm-offset-1 text-center register-warning">
          <h4>Username <%= wrongUser %> does not exist!</h4>
        </div>
      <% } %>
      <% if (badAttempt) { %>
        <div class="col-sm-10 col-sm-offset-1 text-center register-warning">
          <h4>You must log in to see that page</h4>
        </div>
      <% } %>
    </form>
    </div>

  </body>
</html>
